[Unit]
Description=Redis persistent key-value database
After=network.target

[Service]
ExecStart=/usr/bin/redis-server /etc/redis/cluster/{{ master_port }}/redis_{{ master_port }}.conf --supervised systemd
ExecStop=/bin/redis-cli -h 127.0.0.1 -p {{ master_port }} shutdown
Type=notify
User=redis
Group=redis
RuntimeDirectory=redis
RuntimeDirectoryMode=0755
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target